*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    border: 2px;
    font-size: 14px;
}

.container{
    max-width:450px;
    width: 100%;
    padding:25px 30px;
    border:groove #1E4739 2px;
    border-radius: 15px;
    box-shadow: 50%;
    
    
}

button{
    background-color:#0F231C;
    font-size: larger;
    color: white;
    font: bold;
    padding: 5px;
}


#head{
  
    font-size: 40px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 15px;  
}

#name{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 10px;
}

span{
    display: flex;
}
